## Task 01:

Print Your Name with your Father name and Date of birth using suitable escape sequence charactor

In [ ]:
print("My name is 'Ayesha Farooque' \n My Father Name is 'Muhammad Farooque' \n My date of birth is '28-06-2004'")

My name is 'Ayesha Farooque'
 My Father Name is 'Muhammad Farooque'
 My date of birth is '28-06-2004'

# Task 02:

Write your small bio using variables and print it using print function

In [ ]:
Ayesha = "Ayesha Farooque is here. I am doing bachelors in computational Fianance from NED University of Engineering and Technology. I am also doing internship at intelliversal integrated solution"
>>> print(Ayesha)

Ayesha Farooque is here. I am doing bachelors in computational Fianance from NED University of Engineering and Technology. I am also doing internship at intelliversal integrated solution

# Task 03:

Write a program in which use all the operators we can use in Python

In [ ]:
x=20
y=3
z=x+y
a=x-y
b=x*y
c=x/y
d=x%y
print(z)
print(a)
print(b)
print(c)
print(d)

23
17
60
6.666666666666667
2

# Task 04:


1. Mention Marks of English , Islamiat and Maths out of 100 in 3 different variables

2. Mention Variable of Total Marks and assign 300 to it

3. Calculate Percentage

In [ ]:
English=90
Islamiat=95
Maths=99
Total_marks=300
marks_obtained=285
print(percentage)

95.0